@{
    ViewBag.Title = "IBISA | Import File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

    .upload {
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .head {
        background-color: greenyellow;
    }

        .head tr th {
            text-align: center;
            font-weight: bold;
        }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container">
            <h2>Choose File</h2>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row" style="width: 500px; padding: 15px;" id="filePathInput">
                <input type="text" class="" id="txtfile" for="uploadXML" disabled="disabled" style="width: 425px; padding: 5px;" />
                <i id="btnFileLoad" class="fileUpload fa fa-file pull-right" area-hidden="true" onclick="return fileLoad();" style="margin-top: 2px; font-size: 28px; position: relative; cursor: pointer; color: forestgreen;"></i>
                <input type="file" class="upload" name="fileUpload" id="fileUpload" style="display: none;" accept=".xlsx" />
            </div>
            <div>
                <label id="message"></label>
                <div class="table-responsive">
                    <table class="table table-bordered table-responsive table-striped">
                        <thead class="head">
                        </thead>
                        <tbody class="body"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

<script>
    $(function () {
        $('#fileUpload').change(function (e) {
            debugger;
            var filename = e.target.files[0].name;
            $("#txtfile").val(filename);
            formdata = new FormData();
            for (var i = 0; i < e.target.files.length; i++) {
                formdata.append(e.target.files[i].name, e.target.files[i]);
            }
            $.ajax({
                url: '@Url.Action("ProcessFileUpload", "IBISAAdmin")',
                type: "POST",
                datatype: "JSON",
                contentType: false,
                processData: false,
                data: formdata,
                success: function (result) {
                    debugger;
                    var count = 0;
                    if (result.IsValid) {
                        debugger;
                        $("#message").css('color', 'green').text(result.Message);
                        $(".head").empty();
                        $(".body").empty();
                        for (var i = 0; i < result.row; i++) {
                            if (i == 0) {
                                $(".head").append("<tr>");
                            } else {
                                $(".body").append("<tr class='tr" + i + "'>");
                            }
                            for (var j = 0; j < result.col; j++) {
                                if (i == 0) {
                                    $(".head tr").append("<th>" + result.data[count] + "</th>");
                                } else {
                                    if (result.data[count] != null) {
                                        $(".body .tr" + i + "").append("<td>" + result.data[count] + "</td>");
                                    } else {
                                        $(".body .tr" + i + "").append("<td></td>");
                                    }
                                }
                                count++;
                            }
                            if (i == 0) {
                                $(".head").append("</tr>");

                            } else {
                                $(".body .tr" + i + "").append("</tr>");
                            }
                        }
                    } else {
                        $("#message").css('color', 'red').text(result.Message);
                    }
                }
            });
        });

        @*$('input[type="file"]').change(function (e) {
            debugger;
            var filename = e.target.files[0].name;
            var Files = $("#fileLoadDoc").get(0);
            $("#txtfile").val(filename);
            // $("#btnsbmt").trigger("click");
            formdata = new FormData();
            for (var i = 0; i < e.target.files.length; i++) {
                formdata.append(e.target.files[i].name, e.target.files[i]);
            }
            $.ajax({
                url: '@Url.Action("ProcessFileUpload", "IBISAAdmin")',
                type: "POST",
                datatype: "JSON",
                contentType: false,
                processData: false,
                data: formdata,
                success: function(result) {
                    debugger;
                    var count = 0;
                    if (result != null) {
                        debugger
                        $("#message").css('color', 'green').text("Your File has succesfully Loaded !!!")
                        $(".head").empty();
                        $(".body").empty();
                        for (var i = 0; i < result.row; i++) {
                            if (i == 0) {
                                $(".head").append("<tr>");
                            } else {
                                $(".body").append("<tr class='tr" + i + "'>");
                            }
                            for (var j = 0; j < result.col; j++) {
                                if (i == 0) {
                                    $(".head tr").append("<th>" + result.data[count] + "</th>");
                                } else {
                                    if (result.data[count] != null) {
                                        $(".body .tr" + i + "").append("<td>" + result.data[count] + "</td>");
                                    } else {
                                        $(".body .tr" + i + "").append("<td></td>");
                                    }
                                }
                                count++;
                            }
                            if (i == 0) {
                                $(".head").append("</tr>");

                            } else {
                                $(".body .tr" + i + "").append("</tr>");
                            }
                        }
                    } else {
                        $("#message").css('color', 'red').text("Your File has failed to Loaded try again!!!")
                    }
                }
            });
        });*@
    });
    function fileLoad() {
        debugger
        $('#txtfile').val("");
        $('#fileUpload').val("");
        $('#btnFileLoad').val("");
        $("#fileUpload").trigger('click');
    }
</script>
